<!DOCTYPE html>
<html>
  <head>
    <title>Fess-Test</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <body>
   	    <section id="container">
	     <header class="clearfix">
	      <h1>Fess-Test</h1>
	  	    <ul class="nav nav-tabs">
 		<li><a href="hello.html">Hello world</a></li>
  		<li><a href="bye.html">Good bay</a></li>
			</ul>
	     </header>
	     <%= yield %>
	    </section>
  </body>
</html>
